<div id="logout-form">
  <h2>Log Out</h2>
  <form action="/auth/logout" method="POST">
    <button type="submit">Log Out</button>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>