<h2>Find a location near you.</h2>

<form action="/location/location-near" method="post">
    <label for="owner">
        Name of the owner
        <input type="text" name="owner" id="owner">
    </label>
    <label for="nameOfStore">
        Name Of the Store
        <input type="text" name="nameOfStore" id="nameOfStore">
    </label>
    <label for="description">
        Type Of Store
        <input type="text" name="description" id="description">
    </label>
    <label for="location">
        Location 
        <input type="name" name="location" id="location">
    </label> 
    <label for="rating">
        Rent
        <input type="number" name="rating" id="rating">
    </label>

    <button type="submit">Create a Store</button>
</form>