<h2>Create a new Store</h2>

<form action="/store/create" method="post">
    <label for="owner">
        Name of the owner
        <input type="text" name="owner" id="owner">
    </label>
    <label for="nameOfStore">
        Name Of the Store
        <input type="text" name="nameOfStore" id="nameOfStore">
    </label>
    <label for="description">
        Description
        <input type="text" name="description" id="description">
    </label>
    <label for="location">
        Location 
        <input type="name" name="location" id="location">
    </label> 
    <label for="rent">
        Rent
        <input type="number" name="rent" id="rent">
    </label>

    <button type="submit">Create a Store</button>
</form>

